In [1]:
import numpy as np
import pandas as pd

In [2]:
flight_df = pd.read_feather('data/flights')
flight_test_df = pd.read_feather('data/flight_test')
passenger_df = pd.read_feather('data/passenger')
fuel_consumption_df = pd.read_feather('data/fuel_consumption')

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
flight_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-10-28,AA,AA_CODESHARE,AA,4377,YX,N115HQ,4377,10785,BTV,"Burlington, VT",14100,PHL,"Philadelphia, PA",543,539.0,-4.0,10.0,549.0,650.0,8.0,713,658.0,-15.0,0.0,None,0.0,N,90.0,79.0,61.0,1.0,335.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2018-06-04,DL,DL_CODESHARE,DL,5491,EV,N741EV,5491,12953,LGA,"New York, NY",11042,CLE,"Cleveland, OH",1415,1410.0,-5.0,24.0,1434.0,1540.0,7.0,1603,1547.0,-16.0,0.0,None,0.0,N,108.0,97.0,66.0,1.0,419.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-07-31,WN,WN,WN,562,WN,N479WN,562,13198,MCI,"Kansas City, MO",13487,MSP,"Minneapolis, MN",940,936.0,-4.0,9.0,945.0,1042.0,5.0,1055,1047.0,-8.0,0.0,None,0.0,N,75.0,71.0,57.0,1.0,393.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
3,2019-10-05,WN,WN,WN,4755,WN,N452WN,4755,14107,PHX,"Phoenix, AZ",14570,RNO,"Reno, NV",1755,1816.0,21.0,6.0,1822.0,1946.0,2.0,1935,1948.0,13.0,0.0,None,0.0,N,100.0,92.0,84.0,1.0,601.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
4,2018-05-11,WN,WN,WN,1002,WN,N706SW,1002,11884,GEG,"Spokane, WA",13796,OAK,"Oakland, CA",515,516.0,1.0,9.0,525.0,701.0,5.0,720,706.0,-14.0,0.0,None,0.0,N,125.0,110.0,96.0,1.0,723.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None

In [5]:
flight_test_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-30,WN,WN,WN,2193,WN,N8642E,2193,12191,HOU,"Houston, TX",13232,MDW,"Chicago, IL",1010,1235,N,145,1,937
1,2020-01-26,WN,WN,WN,3352,WN,N796SW,3352,12992,LIT,"Little Rock, AR",15016,STL,"St. Louis, MO",1705,1810,N,65,1,296
2,2020-01-17,AS,AS,AS,365,AS,N584AS,365,14771,SFO,"San Francisco, CA",14057,PDX,"Portland, OR",2155,2344,N,109,1,550
3,2020-01-31,AA,AA_CODESHARE,AA,3156,OO,N776SK,3156,13930,ORD,"Chicago, IL",10372,ASE,"Aspen, CO",950,1214,N,204,1,1013
4,2020-01-25,WN,WN,WN,3762,WN,N8679A,3762,14747,SEA,"Seattle, WA",13796,OAK,"Oakland, CA",1450,1655,N,125,1,672

In [6]:
passenger_df.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,1.0,1.0,31200.0,156.0,133.0,0.0,0.0,1141.0,174.0,150.0,G4,20368,Allegiant Air,D,G4,Allegiant Air,3,3,10408,30408,ATW,"Appleton, WI",US,United States,14761,34761,SFB,"Sanford, FL",US,United States,6,698,1,2018,11,3,F,DU
1,16.0,16.0,736000.0,3680.0,2864.0,0.0,0.0,957.0,2533.0,2111.0,F9,20436,Frontier Airlines Inc.,D,F9,Frontier Airlines Inc.,3,3,13204,31454,MCO,"Orlando, FL",US,United States,11433,31295,DTW,"Detroit, MI",US,United States,6,699,1,2016,6,2,F,DU
2,0.0,57.0,76950.0,342.0,157.0,4701.0,7618.0,24.0,1007.0,717.0,H6,20336,Hageland Aviation Service,D,H6,Hageland Aviation Service,1,5,10551,30113,BET,"Bethel, AK",US,United States,12831,32831,KUK,"Kasigluk, AK",US,United States,0,35,1,2017,4,1,F,DU
3,0.0,1.0,31841.0,58.0,43.0,0.0,0.0,440.0,0.0,0.0,AC,19531,Air Canada,I,AC,Air Canada,0,0,11433,31295,DTW,"Detroit, MI",US,United States,16149,36149,YOW,"Ottawa, Canada",CA,Canada,6,698,1,2018,3,1,L,IF
4,4.0,3.0,57276.0,210.0,197.0,0.0,0.0,284.0,220.0,152.0,S5,20448,Shuttle America Corp.,D,S5,Shuttle America Corp.,2,2,11618,31703,EWR,"Newark, NJ",US,United States,13931,33667,ORF,"Norfolk, VA",US,United States,6,677,1,2016,10,1,F,DU

In [7]:
fuel_consumption_df.head()

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,sint_gallons,ts_gallons,tdomt_gallons,tint_gallons,total_gallons,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,9,21629.0,KD,KD,Western Global,1,0.0,0.0,0.0,0.0,0.0,0.0,1138084.0,1229918.0,2368002.0,0.0,0.0,0.0,0.0,0.0,0.0,2233600.0,2315358.0,4548958.0,2017
1,6,20422.0,SY,SY,Sun Country Airlines d/b/a MN Airlines,2,3631156.0,0.0,0.0,810677.0,810677.0,4441833.0,4236152.0,828005.0,5064157.0,8557540.0,0.0,0.0,2078999.0,2078999.0,10636539.0,11226859.0,2126852.0,13353711.0,2018
2,5,19930.0,AS,AS,Alaska Airlines Inc.,3,61933139.0,0.0,0.0,1114398.0,1114398.0,63047537.0,62005379.0,1114398.0,63119777.0,147844556.0,0.0,0.0,2859173.0,2859173.0,150703729.0,148001060.0,2859173.0,150860233.0,2018
3,4,19930.0,AS,AS,Alaska Airlines Inc.,3,58372355.0,0.0,0.0,1293697.0,1293697.0,59666052.0,58432767.0,1293697.0,59726464.0,133673299.0,0.0,0.0,3411283.0,3411283.0,137084582.0,133797164.0,3411283.0,137208447.0,2019
4,6,20447.0,U7,U7,USA Jet Airlines Inc.,2,0.0,0.0,0.0,0.0,0.0,0.0,437920.0,25481.0,463401.0,0.0,0.0,0.0,0.0,0.0,0.0,851483.0,69533.0,921016.0,2015

In [9]:
col_to_drop_flight = ['dep_time','wheels_off','wheels_on','arr_time','cancelled','cancellation_code','diverted',
                    'dup','actual_elapsed_time','air_time','carrier_delay','weather_delay','nas_delay','security_delay',
                    'late_aircraft_delay','first_dep_time','total_add_gtime','longest_add_gtime','no_name']
v1_flight_df = flight_df.drop(col_to_drop_flight,axis=1)
#column full of ones, not useful
v1_flight_df = v1_flight_df.drop('flights',axis=1) 
v1_flight_df.head()

In [ ]:
col_to_drop_flight_test = ['mkt_carrier','branded_code_share','op_carrier_fl_num','origin','dest','dup','flights']
v1_flight_test_df = flight_test_df.drop(col_to_drop_flight_test,axis=1)
v1_flight_test_df.head()

In [ ]:
cols_to_drop = ['dest_country','carrier_group','carrier_group_new','origin','origin_country','dest','dest_country','dest_city_market_id',
                'data_source','distance_group','aircraft_config','aircraft_group','origin_city_market_id','ramp_to_ramp','carrier']
v1_passenger_df = passenger_df.drop(cols_to_drop,axis=1)
v1_passenger_df.head()

In [20]:
fuel_drop_col = ['unique_carrier','sdomt_gallons','satl_gallons','spac_gallons','slat_gallons','sint_gallons',
                'ts_gallons','tdomt_gallons','tint_gallons','sdomt_cost','satl_cost','spac_cost','slat_cost',
                'sint_cost','ts_cost','tdomt_cost','tint_cost']
v1_fuel_consumption_df = fuel_consumption_df.drop(fuel_drop_col,axis=1)
v1_fuel_consumption_df.dropna(inplace=True)

In [21]:
v1_fuel_consumption_df.reset_index(inplace=True)
v1_fuel_consumption_df = v1_fuel_consumption_df.drop('index',axis=1)

In [24]:
v1_flight_df.to_feather('data/v1_clean_flight')
v1_flight_test_df.to_feather('data/v1_clean_flight_test')
v1_fuel_consumption_df.to_feather('data/v1_clean_fuel_consumption')
v1_passenger_df.to_feather('data/v1_clean_passenger')